* {
    box-sizing:border-box;
    margin:0;
}

html {
    font-family: "Helvetica Neue LT Pro", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  
}


h2 {
    line-height: 100px;
    font-size: 100px;
}

.wrapper {
    width: 716px;
    height: 1008px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows:1fr;
    margin:auto;

  
   
}

.wrapper>*{
    padding:50px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

}

.empty-bg {
    background-color: #dde0d8;
    justify-content: space-between;
    padding-bottom:12px;
    
    
}

.bg-2 {
    background-image: linear-gradient(to right top, #e76b13 50%,#030005 50%);
}


.bg-3 {
    background-image: linear-gradient(to left top, #e76b13 50%,#030005 50%);
}

.bg-6 {
    background-image: linear-gradient(to bottom right, #e76b13 50%,#030005 50%);
    justify-content: flex-start;
}